body {
  font-family: courier;
  font-size:18px;
  line-height:1.2em;
}
a {
  text-decoration:none;
  color:black;
}
a:hover {
  font-weight:bold;
}
a:active,
a:visited {
  color:black;
}
.active {
  display:none;
}
.margin-horizontal {
  margin-left:1em;
  margin-right:1em;
}
/*NAV*/
.header {
  width: 100%;
  position: fixed;
  top: 0em;
  padding-top:1em;
  left: 0;
  z-index:100;
  height: 1em;
  /*background-color:white;*/
}
.menu_item {
  position:absolute;
  display:inline-block;
}
.menu_item.center {
  left:45%;
  width:45%;
}
.menu_item.home {
  left:1em;
}
.menu_item.about {
  text-align:right;
  right:1em;
}
.menu_item.work {
  left: 45%;
  cursor:pointer;
  display:flex;
  flex-direction:row;
  top: 0;
  padding-top: 1em;
}
.About .menu_item.work {
  background-color: white;
}
.project-link {
  display:block;
}
.project-list {
  /*padding-right: 3em;*/
  display:none;
  width: 50vw;
}

.About .project-list {
  background-color:white;
  height: 100vh;
}
.project--title {
  margin-bottom: .125em;
  text-indent: -3em;
  padding-left: 3em;
  background-color:white;
}
.work-label {
  min-width: 4em;
}
.work:hover > .project-list {
  display:block;
}

/*HOMEPAGE*/
.hp-image {
  height:100%;
  width:100%;
  object-fit: contain;
  display:block;
  top: 0;
  position: fixed;
  z-index: -100;
}
.homepage-wrapper .slide__image {
  top:3em;
}
.hp-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.description > p {
  margin: 0;
}

/*PROJECT PAGE*/
.slide-link {
  display:inline-block;
  padding-bottom: 1em;
  padding-right: 1em;
}
.thumbnail img{
  height:150px;
}
.project__header {
  margin-bottom:1em;
}
.thumbnails {
  margin-top: 5em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.project-wrapper {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 3em);
  z-index:-1;
}
.Home .project-wrapper {
  margin-top:0;
  min-height: 100vh;
}
.slide-description {
  display:none;
}

/*SLIDE PAGE*/
.slide-title {
  position: absolute;
  top: 1em;
  left: 45%;
  margin-left: 4em;
  padding-right: 4em;
}
.slide__image {
  height:84vh;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.slide__image img {
  object-fit: contain;
  height: 90%;
  width: 100%;
  display:block;
}
.page {
  height:100%;
  position: absolute;
  top: 0;
}
.left, .right {
  width:50%;
}
.left {
  left: 0;
  cursor: url('../images/arrow_left.png'), auto; 
}
.page.right {
  left:50%;
  cursor: url('../images/arrow_right.png'), auto;
}
.description {
  margin:1em;
  margin-bottom: 2em;
  width: calc(100% - 2em);
}

/*BIO + CV*/
body.About {
  height:100%;
  margin:0;
}
.bio {
  width:initial;
  padding-right: 1em;
  margin-bottom: 1em;
}
.about-container {
  height:100%;
}
.cv-right p {
  text-indent: -3em;
  margin-left: 3em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.cv-right p:first-of-type {
  margin-block-start:0;
}

.cv-right strong {
  font-weight:normal;
  border-bottom: 2px solid black;
  display: inline-block;
  line-height: 20px;
  text-indent:0;
  margin-left:0;
}
.cv-right {
  left:45%;
  margin-left: 4em;
  margin-right: 1em;
  margin-top: 1em;
  position:absolute;
}
.cv-left {
  width: calc(45% - 1em);
  margin-left: 1em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4em);
  position:fixed;
}
.cv-left a {
  display:block;
}
.cv-right blockquote {
  margin-inline-start: 0em;
}
blockquote p {
  text-indent:0;
}
.credit {
  margin-top: 3em;
  margin-bottom: 1em;
}

/*MOBILE STYLES*/
@media only screen and (max-width: 600px) {
  .header {
    padding-bottom: 2.5em;
    background-color:white;
  }
  .menu_item.work {
    left:1em;
    margin-top:2em;
    width: calc(100% - 2em);
  }
  .menu_item.work {
    display:block;
  }
  .work-label {
    padding-bottom: 1em;
    background-color: white;
  }
  .project-list {
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .project--title {
    margin-bottom:9px;
  }
  .thumbnails {
    margin-top: 6em;
  }
  .project-wrapper {
    min-height: 83vh;
    margin-top: 6em;
  }
  .slide-title {
    top: 5em;
   left: initial; 
    margin-left: 1em;
    margin-right: 1em;
  }
  .slide__image {
    justify-content: flex-start;
    margin-top:2em;
  }
  .slide__image img {
    height:initial;
  }
  .thumbnail img {
    height:70px;
  }
  .slide-link {
    padding-bottom: 7px;
    padding-right: 7px;
  }
  .About .menu_item.work {
    background-color: initial;
  }
  .about-container {
    flex-wrap:wrap;
    margin-top: 5em;
  }
  .bio {
    padding-right: 1em;
  }
  .cv-left,
  .cv-right {
    position:relative;
  }
  .cv-right {
    margin-left: 1em;
    left:initial;
  }
  .cv-left {
    height:initial;
    width: calc(100% - 2em);
  }
}