body {
  font-family: courier;
  font-size:15px;
  line-height:1.33333em;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  font-weight:bold;
}

a:active,
a:visited {
  color:black;
}

.active {
  display:none;
}

.margin-horizontal {
  margin-left:1em;
  margin-right:1em;
}

.header {
  width: 100%;
  position: fixed;
  top: 1em;
  left: 0;
}

.menu_item {
  position:absolute;
  display:inline-block;
}
.menu_item.center {
  left:45%;
  width:45%;
}
.menu_item.home {
  left:1em;
}
.menu_item.about {
  text-align:right;
  right:1em;
}

.languages {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.languages > ul {
  list-style-type: none !important;
}

.row {
  width:100%;
  padding-top: 1em;
}

.column {
  position:absolute;
}

.right {
  left:45%;
}

/*HOMEPAGE*/
.project--title {
  margin-bottom:0.333em;
  text-indent: -3em;
  padding-left: 3em;
}

/*PROJECT PAGE*/
.slide-link {
  display:inline-block;
  padding-bottom: 1em;
    padding-right: 1em;
}
.thumbnail img{
  height:150px;
}
.project__header {
  margin-bottom:1em;
}
.thumbnails {
  margin-top: 5em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.project-wrapper {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 3em);
}
.slide-description {
  display:none;
}

/*SLIDE PAGE*/
.col-right {
  left:45%;
  width: 45%;
  margin-right:1em;
}
.slide__image {
  height: 83vh;
  top: 3em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.slide__image img {
  object-fit: contain;
  height: 90%;
  width: 100%;
  display:block;
}
.page {
  height:100%;
  position: absolute;
  top: 0;
}
.left, .right {
  width:50%;
}
.left {
  left: 0;
  cursor: url('../images/arrow_left.png'), auto; 
}
.page.right {
  left:50%;
  cursor: url('../images/arrow_right.png'), auto;
}
.description {
  margin:1em;
  width: calc(100% - 2em);
}

/*BIO + CV*/
body.About {
  height:100%;
  margin:0;
}

.bio {
  width:initial;
  padding-right: 1em;
  margin-bottom: 1em;
}

.about-container {
  height:100%;
}

.cv-left,
.cv-right {
  
}

.cv-right {
  left:45%;
  margin-left: 4em;
  margin-right: 1em;
  position:absolute;
}

.cv-left {
  width: 45%;
  margin-left: 1em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4em);
  
  position:fixed;
}

.cv-left a {
  display:block;
}

.download {
}

.cv-right {
  text-indent:-3em;
}

.cv-right blockquote {
  margin-inline-start: 0em;
}

blockquote p {
  text-indent:0;
}

@media only screen and (max-width: 600px) {
  .col-right,
  .menu_item.center {
    left:1em;
    margin-top:2em;
    width: calc(100% - 2em);
  }
  .thumbnails {
    margin-top: 6em;
  }
  .slide__image {
    justify-content: flex-start;
    top:6em;
  }
  .slide__image img {
    height:initial;
  }
  .thumbnail img {
    height:70px;
  }
  .slide-link {
    padding-bottom: 7px;
    padding-right: 7px;
  }
  .about-container {
    flex-wrap:wrap;
  }
  .bio {
    padding-right: 1em;
  }
  .cv-left,
  .cv-right {
    position:relative;
  }
  .cv-right {
    margin-left: 4em;

    left:initial;
  }
  .cv-left {
    height:initial;
    width: calc(100% - 2em);
  }
}