body {
  font-family: courier;
  font-size:24px;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  font-weight:bold;
}

a:active,
a:visited {
  color:black;
}

.active {
  display:none;
}

.margin-horizontal {
  margin-left:1em;
  margin-right:1em;
}

.header {
  width: 100%;
  position: fixed;
  top: 1em;
  left: 0;
}

.menu_item {
  position:absolute;
  display:inline-block;
}
.menu_item.center {
  left:45%;
  width:30%;
}
.menu_item.home {
  left:1em;
}
.menu_item.about {
  text-align:right;
  right:1em;
}

.languages {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.languages > ul {
  list-style-type: none !important;
}

.row {
  width:100%;
  padding-top: 1em;
}

.column {
  position:absolute;
}

.right {
  left:45%;
}

/*PROJECT PAGE*/
.slide-link {
  display:inline-block;
  padding-bottom: 1em;
    padding-right: 1em;
}
.thumbnail img{
  height:150px;
}
.project__header {
  margin-bottom:1em;
}
.thumbnails {
      margin-top: 3em;
    margin-left: 1em;
}

/*SLIDE PAGE*/
.col-right {
  left:45%;
}
.slide__image {
  height: 83vh;
  width: 98vw;
  top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.slide__image img {
  object-fit: contain;
  height: 90%;
  width: 90%;
  display:block;
}

.page {
  height:100%;
  position: absolute;
  top: 0;
}
.left, .right {
  width:50%;
}

.left {
  left: 0;
  cursor: w-resize;
}

.right {
  cursor: e-resize;
}

.description {
  margin:1em;
  position:fixed;
  bottom:0;
  width: 80%;
  left: 0;
}

.project-description,
.bio {
  position:relative;
}


/*BIO + CV*/
.bio {
  margin-top:3em;
  width:initial;
}

.column {
}
.cv-right {
  left:45%;
  margin-left:3em;
  margin-right: 1em;
}

.cv-left {
  width:45%;
  margin-left:1em;
  margin-top:1em;
  position: fixed;
}

.cv-left a {
  display:block;
}

.download {
  position:fixed;
  bottom:1em;
}

.cv-right {
  text-indent:-3em;
}

.cv-right blockquote {
  margin-inline-start: 0em;
}

blockquote p {
  text-indent:0;
}